.custom-link {
    border-radius: 8px;
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.15);
    display: inline-flex;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s;
    padding: 20px 40px;
    color: #000;
    background: rgb(187, 218, 226);

    &:hover {
        transform: scale(1.1);
    }
}

@media (max-width: 685px) {
    .custom-link {
        &:hover {
            transform: scale(1.03);
        }
    }
}